.btn-close {
	cursor: pointer;
	text-align: right;
	font-size: 30px;
	padding-right: 5px;
	color: red;
}

.Note {
	background-color: #fff;
	padding: 10px;
	color: #000;
	margin-top: 10px;
}

.noteContent {
	text-align: left;
	width: 100%;
	cursor: pointer;
}